@model IEnumerable<Kategoria>
@{
    ViewData["Title"] = "Home Page";
    List<Film> filmy = new List<Film> { };
}

<div class="text-center">
    <p>d</p>
    <p><a href="@Url.Action("DodajFilm", "Filmy")">Dodaj Film</a></p>

    @foreach (var kategoria in Model)
    {
        //filmy.AddRange(kategoria.Filmy);
        
        <a href="@Url.Action("Lista", "Filmy", new{nazwaKategorii = kategoria.Nazwa})">@kategoria.Nazwa</a>
    }
    
</div>
