@model IEnumerable<Film>
@{
    ViewBag.Title = "Index";
}

<div>
    @foreach(var film in Model)
    {
        <div>@film.Tytul</div>
        <a href="@Url.Action("Szczegoly", "Filmy", new{idFilmu = film.Id})">
            <img src="~/assets/@film.nazwaPlakatu" alt="@(film.Tytul+" plakat")" style="max-height:250px" />
        </a>
        
    }
</div>
